.containTechnologies {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: flex-start;
}

.svgContain {
    padding: 0.3125rem 0.625rem;
    border-radius: 0.625rem;
    user-select: none;
}

.txtSvg {
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
}

.svg {
    color: white;
    height: 0.9375rem;
    width: 0.9375rem;
}

.expressjs .txtSvg,
.figma .txtSvg {
    color: #3f3f3f;
}

/* Colores */
.nextjs {
    background-color: #000000;
}

.css {
    background-color: #0277bd;
}

.astrojs {
    background-color: #cb4802;
}

.scss {
    background-color: #a74e7a;
}

.nodejs {
    background-color: #357328;
}

.expressjs {
    background-color: #f4f2ed;
}

.mysql {
    background-color: #01618a;
}

.reactjs,
.reactnative {
    background-color: #116e87;
}

.git {
    background-color: #c13926;
}

.javaspringboot {
    background-color: #437920;
}

.visualcode {
    background-color: #3272ab;
}

.wordpress {
    background-color: #207195;
}

.figma {
    background-color: #f4f2ed;
}

.jest {
    background-color: #99424f;
}
