@import '../../styles/colors.scss';

.aboutMe {
    max-width: 100%;
    padding: 1rem;
    grid-column: 1/4;
    grid-row: 3/3;
}

.aboutMeDescription {
    max-width: 100%;
    justify-items: center;
    align-items: center;
    img {
        max-width: 100%;
    }
    div {
        max-width: 100%;
        color: white;
        p {
            padding: 1rem;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            text-align: justify;
        }
        .strong {
            font-weight: bold;
            color: $ColorRojoTranqui;
        }

        h2.aboutme {
            text-align: center;
        }
        ul {
            padding: 0;
            li {
                font-size: 1em;
                color: $ColorRojoTranqui;
                margin: 0.5em 0 0 1em;
                &::marker {
                    color: white;
                }
            }
        }
    }
}

.gridAboutMe {
    border: 1px solid $ColorRojoTranqui;
    padding: 10px;
    grid-gap: 1rem;
    .textoAboutMe {
        text-align: left;
        font-size: 1em;
        color: white;
    }
    span {
        color: $ColorRojoTranqui;
        font-size: 1.2em;
    }
}

@media screen and (min-width: 992px) {
    .aboutMe {
        grid-column: 2/13;
        grid-row: 2/2;
    }
    .aboutMeDescription {
        padding: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        img {
            width: 50%;
        }
        div {
            color: white;
            p {
                font-size: 1.5rem;
            }

            h2.aboutme {
                text-align: left;
            }
        }
    }

    .gridAboutMe {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .textoAboutMe {
            margin: auto auto auto 100px;
        }
    }
}
