.containSubtitle {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: .625rem;
    padding: 8.75rem 0 2.5rem 0;
}

.svg,
.subtitle {
    color: var(--primary-color);
}

.svg {
    height: 1.875rem;
    width: 1.875rem;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 600;
}

@media (width >= 48rem) {
    .subtitle {
        font-size: 1.875rem;
    }
    .svg {
        height: 2.5rem;
        width: 2.5rem;
    }
    .containSubtitle {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: .625rem;
        padding: 6.25rem 0 2.5rem 0;
    }
}
