.containContact {
    padding-bottom: 6.25rem;
}

.svg {
    color: var(--primary-color);
    height: 1.875rem;
    width: 1.875rem;
}

.containLinks {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: flex-start;
}
