.containContact {
    padding-bottom: 6.25rem;
}

.svg {
    color: var(--primary-color);
    height: 30px;
    width: 30px;
}

.containLinks {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: flex-start;
}