@import '../../styles/colors.scss';

.perfil {
    background-image: url('../../../public/assets/img/fondo.jpg');
    padding: 1rem;
    grid-column: 1/4;
    grid-row: 2/2;
}

.perfilAlejo {
    margin-bottom: 2em;
    img {
        margin: auto;
        width: 200px;
        height: 200px;
        object-fit: contain;
        border-radius: 50%;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 1em;
        li {
            i {
                color: white;
                margin: 0 1em 0 1em;
                font-size: 3em;
                &:hover {
                    color: $ColorRojoTranqui;
                }
            }
        }
    }
    div {
        display: flex;
    }
}

@media screen and (min-width: 992px) {
    .perfil {
        grid-column: 1/13;
        grid-row: 1/1;
    }
}
