@import '../../styles/colors.scss';

.technologies {
    background-color: #1e2131;
    padding: 1rem;
    grid-column: 1/4;
    grid-row: 4/4;
}

.container-Grid {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    margin: 1rem 0;
}

.tech {
    ul {
        justify-content: space-evenly;
        border-radius: 1em;
        background-color: $Fondo;
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 1em;
        margin: 0;
        li {
            display: flex;
            justify-content: center;
            flex-direction: row;
            color: #fff;
            margin: 0;
            p {
                color: #fff;
                font-size: 2rem;
                font-weight: 400;
                margin: 0 0.5em 0 1em;
            }
            i {
                color: #fff;
                font-size: 4rem;
                font-weight: 400;
                margin: 0;
                text-align: center;
            }
            img {
                width: 80px;
                height: 80px;
                object-fit: contain;
            }
        }
    }

    font-size: 30px;
}

@media screen and (min-width: 992px) {
    .technologies {
        grid-column: 2/13;
        grid-row: 3/3;
    }

    .container-Grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .tech {
        height: 700px;
        ul {
            height: 380px;
            flex-direction: column;
            li {
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}
